<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/awan.css">
    <link rel="icon" href= "../public/imags/awan/cloud-sunny.ico"
          type="image/x-icon">
    <title>Awan </title>
</head>

<body>
    <header>
        <div class="nav">
            <div class="logo">
                <img src="imags/awan/cloud-sunny.png" alt="" style="width: 160px;">
                <p><strong>Awan</strong> Hoster</p>
            </div>
            <nav>
                <ul>
                    <li class="navb">Hosting</li>
                    <li class="navb">Integration</li>
                    <li class="navb">Pricing</li>
                    <li class="navb">Comunity</li>
                    <li class="navb nav-btn">Login</li>
                </ul>
            </nav>
        </div>
    </header>
    <hr>
    <section class="sc1">
        <div class="row1">
            <div class="txt">
                <div class="head">
                    <h1>Hosting service for your website</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit voluptatum doloribus consequuntur
                        blanditiis impedit assumenda aliquid praesentium dolorem voluptates architecto!</p>
                </div>
                <div class="btsc">
                    <button>Get Started</button>
                    <button style="background-color:   #E2E6FF;">Get Migration Help</button>
                </div>
                <div class="downar">
                    <img src="imags/awan/arrow-down.png" alt="">
                </div>
            </div>
            <div class="imglap">
                <img src="imags/awan/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="">
            </div>
        </div>
    </section>
    <section class="sc15">
        <div class="row1 r1">
            <div class="text">Those who have experienced the best performance</div>
            <div class="imggp">
                <div class="imgrp" style="margin-top: -60px;"><img src="imags/awan/Telkom Indonesia Logo.png" alt=""></div>
                <div class="imgrp"><img src="imags/awan/Jetstar Airways Logo.png" alt=""></div>
                <div class="imgrp"><img src="imags/awan/Nescafe Logo.png" alt=""></div>
                <div class="imgrp"><img src="imags/awan/Lenovo Logo.png" alt=""></div>
            </div>
        </div>
    </section>

    <section class="sc2">
        <div class="row3">
            <div class="img">
                <img src="imags/awan/Group 3552.png" alt="">
            </div>

            <div class="mon">
                <div class="head">
                    <h1>Boost the speed of your website</h1>
                </div>
                <div class="contain">
                    <div class="cell">
                        <p><strong>Faster Buillding Process</strong></p>
                        <p>We can speed up the process of creating website</p>
                    </div>
                    <div class="cell">
                        <p><strong>Faster Delivery</strong></p>
                        <p>our purchase and service can be completed quickly</p>
                    </div>
                    <div class="cell">
                        <p><strong>Faster Access Speed</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, fugit.</p>
                    </div>
                    <div class="cell">
                        <p><strong>24/7 Faster Service</strong></p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sc3">
        <div class="heading">
            <h2>Host Any Website With Our Fully Managed Services</h2>
        </div>
        <div class="row4">
            <div class="card">
                <div class="content">
                    <div class="logo1">
                        <div class="lg"><img src="imags/awan/cloud-sunny.png" alt=""></div>
                        <div class="txtpg">
                            <p><strong>Cloud Hosting</strong></p>
                        </div>
                    </div>
                    <div class="content1-1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. </p>
                    </div>
                </div>
                <div class="content2">
                    <p>$5.9/month</p>
                    <div><a href="">More Detail</a></div>
                </div>
            </div>

            <div class="card">
                <div class="content">
                    <div class="logo1">
                        <div class="lg"><img src="imags/awan/buildings.png" alt=""></div>
                        <div class="txtpg">
                            <p><strong>Corporate</strong></p>
                        </div>
                    </div>
                    <div class="content1-1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. </p>
                    </div>
                </div>
                <div class="content2">
                    <p>$19/month</p>
                    <div><a href="">More Detail</a></div>
                </div>
            </div>

            <div class="card">
                <div class="content">
                    <div class="logo1">
                        <div class="lg"><img src="imags/awan/driver.png" alt=""></div>
                        <div class="txtpg">
                            <p><strong>Cloud VPS</strong></p>
                        </div>
                    </div>
                    <div class="content1-1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. </p>
                    </div>
                </div>
                <div class="content2">
                    <p>$29/month</p>
                    <div><a href="">More Detail</a></div>
                </div>
            </div>

            <div class="card">
                <div class="content">
                    <div class="logo1">
                        <div class="lg"><img src="imags/awan/monitor-mobbile.png" alt=""></div>
                        <div class="txtpg">
                            <p><strong>Dedicated</strong></p>
                        </div>
                    </div>
                    <div class="content1-1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. </p>
                    </div>
                </div>
                <div class="content2">
                    <p>$119/month</p>
                    <div><a href="">More Detail</a></div>
                </div>
            </div>

        </div>
    </section>

    <section class="sc4">
        <div class="row5">
            <div class="tech">
                <div class="row " onclick="newcontent(this)">
                    <div class="icons"><i class="fa-brands fa-wordpress"></i></div>
                    <div class="imgtxt">Wordpress</div>
                </div>
                <div class="row" onclick="newcontent(this)">
                    <div class="icons"><i class="fa-brands fa-magento"></i></div>
                    <div class="imgtxt">Magento</div>
                </div>
                <div class="row" onclick="newcontent(this)">
                    <div class="icons"><i class="fa-brands fa-laravel"></i></div>
                    <div class="imgtxt">Laravel</div>
                </div>
                <div class="row" onclick="newcontent(this)">
                    <div class="icons"><i class="fa-brands fa-php"></i></div>
                    <div class="imgtxt">PHP</div>
                </div>
            </div>
            <div id="ccs" class="conn">
                <div class="head1">
                    <h3>The Best Managed Cloud Hosting For Wordpress</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In nisi sed ipsa, at veniam ad
                        voluptatum, dolorem nemo soluta, libero officia quis! Commodi, sit. Lorem ipsum dolor, sit amet
                        consectetur adipisicing elit. Commodi, repudiandae. </p>
                </div>
                <div class="option">
                    <ul>
                        <li>Unlimited Bandwidth</li>
                        <li>Network Speed</li>
                        <li>Turbo power</li>
                        <li>Xtreme Freedom</li>
                    </ul>
                </div>
                <div class="md">
                    <a >More Detail</a>
                </div>
            </div>
        </div>
    </section>

    <!-- <seciton class="sc5">
    </seciton> -->
    <section class="sds">
        <div class="rowkfk">
            <div class="hd2">
                <h2>How Our Customers Feel About Us</h2>
            </div>
            <div class="arrow">
                <div onmousedown="scrollleft()"><img src="imags/awan/arrow-right.png" alt=""></div>
                <div onmousedown="scrollright()"><img src="imags/awan/arrow-right.png" alt=""></div>
            </div>
        </div>
        <div class="rss">
            <div class="slide">
                <div class="contin">
                    <div class="card1">
                        <div class="cus">
                            <img src="imags/awan/profile.png" alt="">
                        </div>
                        <div class="star">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                        </div>
                        <div class="containt">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates quidem ratione
                                tempore, iure sed quae.</p>
                            <p class="name">Guys Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>
                <div class="contin">
                    <div class="card1">
                        <div class="cus">
                            <img src="imags/awan/profile.png" alt="">
                        </div>
                        <div class="star">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                        </div>
                        <div class="containt">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates quidem ratione
                                tempore, iure sed quae.</p>
                            <p class="name">Guys Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>
                <div class="contin">
                    <div class="card1">
                        <div class="cus">
                            <img src="imags/awan/profile.png" alt="">
                        </div>
                        <div class="star">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                        </div>
                        <div class="containt">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates quidem ratione
                                tempore, iure sed quae.</p>
                            <p class="name">Guys Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>
                <div class="contin">
                    <div class="card1">
                        <div class="cus">
                            <img src="imags/awan/profile.png" alt="">
                        </div>
                        <div class="star">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                            <img src="imags/awan/Star 2.png" alt="">
                        </div>
                        <div class="containt">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates quidem ratione
                                tempore, iure sed quae.</p>
                            <p class="name">Guys Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="sc6">
        <div class="row7">
            <div class="txtconn">
                <div class="head">
                    <h1>Try It Now and stop doubting anything else</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda sapiente, expedita vero
                        tempore aliquid modi nam ad dignissimos dolorem obcaecati?
                    </p>
                </div>
                <div class="md btts">
                    <a href="http://">Start Free Trial</a>
                    <a href="http://">See all Plans</a>
                </div>
            </div>
            <div class="imglap">
                <img src="imags/awan/Group 1000008788.png" alt="">
            </div>
        </div>
    </section>
    <footer>
        <div class="row9">
            <div class="sec1">
                <div class="logo2">
                    <img src="imags/awan/logo-white.png" alt="">
                </div>
                <div class="par">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, delectus.
                </div>
                <div class="imggrp">
                    <i class="fa-brands fa-google"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
            <div class="sec2">
                <div class="comp">
                    <p class="ddat">Company</p>
                    <p>About</p>
                    <p>Blog</p>
                    <p>Leadership</p>
                    <p>Careers</p>
                    <p>Legal</p>
                </div>
                <div class="comp">
                    <p class="ddat">Products</p>
                    <p>API</p>
                    <p>Pricing</p>
                    <p>Documentation</p>
                    <p>Release Notes</p>
                </div>

                <div class="comp">
                    <p class="ddat">Contacts</p>
                    <p>Support</p>
                    <p>Sales</p>
                    <p>Report Abuse</p>
                    <p>System Status</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="javascript/awan.js"></script>
</body>

</html>