<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/Project Dashboard.css">
</head>
<body>
    <div class="header">
        <div class="txt">
            <h2>Name:- Krish Gujariya</h2>
            <h2>Employee Id:- 24DEV026</h2>
        </div>
    </div>

    <div class="section">
        <div class="heading">
            <h2>Project Showcase</h2>
        </div>
        <div class="row">
            <div class="slidebar">
                <div class="card">
                    <div class="img"><img src="imags/dynamic table.png" alt=""></div>
                    <div class="content">
                        <hr>
                        <p class="center">Dynamic Table</p>
                        <p>Add row and column through button.</p>
                        <p>Understanding</p>
                        <p>DOM model of Javascript</p>
                    </div>
                    <div class="button">
                        <a href="/dynamic-table">View</a>
                    </div>
                </div>

                <div class="card">
                    <div class="img"><img src="imags/kukucube.png" alt=""></div>
                    <div class="content">
                        <hr>
                        <p class="center">Kuku Cube</p>
                        <p>A Color vision Game</p>
                        <p>Understanding</p>
                        <p>timeout and setinterval function</p>
                    </div>
                    <div class="button">
                        <a href="/kuku-kube">View</a>
                    </div>
                </div>

                <div class="card">
                    <div class="img"><img src="imags/domevent.png" alt=""></div>
                    <div class="content">
                        <hr>
                        <p class="center">Event Table</p>
                        <p>Table consist of several dom event</p>
                        <p>Understanding</p>
                        <p>Overview of DOM events and handling it</p>
                    </div>
                    <div class="button">
                        <a href="/dom-event">View</a>
                    </div>
                </div>

                <div class="card">
                    <div class="img"><img src="imags/tic tac toe.png" alt=""></div>
                    <div class="content">
                        <hr>
                        <p class="center">Tic-Tac-Toe</p>
                        <p>Single Player Tic-Tac-Toe game</p>
                        <p>Understanding</p>
                        <p>Enhancing Cognitive and Problem-Solving Skill</p>
                    </div>
                    <div class="button">
                        <a href="/tictactoe">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>