<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Showcase</title>
    <link rel="stylesheet" href="css/Project Dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

  </head>
  <body>
    <div class="header">
      <div class="txt">
        <h2>Name:- Krish Gujariya</h2>
        <h2>Employee Id:- 24DEV026</h2>
      </div>
    </div>

    <div class="section">
      <div class="heading">
        <h2>Project Showcase</h2>
      </div>
      <div class="row swiper mySwiper" >
        <div class="slidebar swiper-wrapper">
          <div class="card ">
            <div class="img"><img src="imags/dynamic table.png" alt="" /></div>
            <div class="content">
              <p class="center">Dynamic Table</p>
              <p>Add row and column through button.</p>
              <p>Understanding</p>
              <p>DOM model of Javascript</p>
            </div>
            <div class="button">
              <a href="/dynamic-table" target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img"><img src="imags/kukucube.png" alt="" /></div>
            <div class="content">
              <p class="center">Kuku Cube</p>
              <p>A Color vision Game</p>
              <p>Understanding</p>
              <p>timeout and setinterval function</p>
            </div>
            <div class="button">
              <a href="/kuku-kube" target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img"><img src="imags/domevent.png" alt="" /></div>
            <div class="content">
              <p class="center">Event Table</p>
              <p>Table consist of several dom event</p>
              <p>Understanding</p>
              <p>Overview of DOM events and handling it</p>
            </div>
            <div class="button">
              <a href="/dom-event" target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img"><img src="imags/tic tac toe.png" alt="" /></div>
            <div class="content">
              <p class="center">Tic-Tac-Toe</p>
              <p>Single Player Tic-Tac-Toe game</p>
              <p>Understanding</p>
              <p>Enhancing Cognitive and Problem-Solving Skill</p>
            </div>
            <div class="button">
              <a href="/tictactoe" target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img"><img src="imags/Sorting.png" alt="" /></div>
            <div class="content">
              <p class="center">Sorting</p>
              <p>Sorting Number in Ascending Order</p>
              <p>Algorithm Used</p>
              <p>Used Bubbble Sort Algorithm for Sorting</p>
            </div>
            <div class="button">
              <a href="/sorting " target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img"><img src="imags/ehya.png" alt="" /></div>
            <div class="content">
              <p class="center">Page Design</p>
              <p>ehya Landing Page design</p>
              <p>Understanding</p>
              <p>CSS essential properties</p>
            </div>
            <div class="button">
              <a href="/ehya" target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img"><img src="imags/Awan Host.png" alt="" /></div>
            <div class="content">
              <p class="center">Page Design</p>
              <p>awan Landing Page design</p>
              <p>Understanding</p>
              <p>CSS essential properties and Sliding in Javascript</p>
            </div>
            <div class="button">
              <a href="/awan" target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img"><img src="imags/hirex.png" alt="" /></div>
            <div class="content">
              <p class="center">Page Design</p>
              <p>Hirex Landing Page design</p>
              <p>Understanding</p>
              <p>CSS essential properties and Sliding in Javascript</p>
            </div>
            <div class="button">
              <a href="/hirex" target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img"><img src="imags/Paggination.png" alt="" /></div>
            <div class="content">
              <p class="center">Paggination</p>
              <p>Listing of Student Table along with paggination and Sorting</p>
              <p>Understanding</p>
              <p>Node Js Routing , express js and mysql essentials</p>
            </div>
            <div class="button">
              <a href="/paggination" target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img"><img src="imags/Result.png" alt="" /></div>
            <div class="content">
              <p class="center">Student Result</p>
              <p>
                Show Student Result data individuallly and as a list of student
                result data
              </p>
              <p>Concept use</p>
              <p>Paggination</p>
            </div>
            <div class="button">
              <a href="/result" target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img"><img src="imags/attendance.png" alt="" /></div>
            <div class="content">
              <p class="center">Student Attendance List</p>
              <p>Show Student attendance list month-wise</p>
              <p>Concept use</p>
              <p>Paggination, Filter</p>
            </div>
            <div class="button">
              <a href="/student-attendance" target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img">
              <img src="imags/Dynamic table using sql querry.png" alt="" />
            </div>
            <div class="content">
              <p class="center">Table Generation</p>
              <p>Table Generation through SQL querry (Student Database)</p>
              <p>Concept use</p>
              <p>Paggination, select querry</p>
            </div>
            <div class="button">
              <a href="/sqlquerry" target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img"><img src="imags/table sorting.png" alt="" /></div>
            <div class="content">
              <p class="center">Record Sorting</p>
              <p>Sorting record ascending or descending</p>
              <p>Concept use</p>
              <p>Paggination, select querry and Order By</p>
            </div>
            <div class="button">
              <a href="/sql-sorting" target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img"><img src="imags/searching.png" alt="" /></div>
            <div class="content">
              <p class="center">Record Searching</p>
              <p>Record Searching in Table</p>
              <p>Concept use</p>
              <p>Paggination, select querry multiple where condition</p>
            </div>
            <div class="button">
              <a href="/searching-data" target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img"><img src="imags/delimeter.png" alt="" /></div>
            <div class="content">
              <p class="center">Delimeter Searching</p>
              <p>Record Searching through Delimeters</p>
              <p>Concept use</p>
              <p>Paggination, select querry multiple where condition</p>
            </div>
            <div class="button">
              <a href="/delimeter-search" target="_blank">View</a>
            </div>
          </div>

          <div class="card ">
            <div class="img"><img src="imags/fetchapi.png" alt="" /></div>
            <div class="content">
              <p class="center">Fetch API</p>
              <p>Show JSON Place holder data in table using fetch API</p>
              <p>Concept use</p>
              <p>Fetch API and JSON Placeholder</p>
            </div>
            <div class="button">
              <a href="/fetch-api" target="_blank">View</a>
            </div>
          </div>
        </div>
    </div>   
        <div class="navigate">
      <a id="right" ><i class="fa-solid fa-left-long"></i></a>
      <a id="left" ><i class="fa-solid fa-right-long"></i></a>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="javascript/dashboard.js"></script>
  </body>
</html>