<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/ehya.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Rubik:wght@300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind&family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>


    </style>
</head>

<body>
    <header>
        <div class="logo"><img src="imags/ehya/Logo.svg" alt="logo"></div>
        <nav>
            <ul class="nav">
                <li class="nav-btn">Home</li>
                <li class="nav-btn">Laddings</li>
                <li class="nav-btn">Page</li>
                <li class="nav-btn">Docs</li>
                <li class="nav-btn">Help</li>
                <li class="nav-btn btn">Get it now</li>
            </ul>
        </nav>
    </header>
    <section class="sc1 centre">
        <div class="img"><img src="imags/ehya/Hero.png" alt="template"></div>
        <div class="tg1">
            <div class="cttx">
                <h1>Make your new life happier.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis impedit cumque recusandae omnis
                    eaque mollitia sunt accusamus, obcaecati inventore quasi.</p>
                <button>Get a consultation</button>
            </div>
        </div>
    </section>
    <section class="sc2 centre">
        <div class="int">
            <p class="dg">Our Service</p>
            <h3>Insurance made simple for you</h3>
            <div class="ols">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum dignissimos sunt iusto ut dolore?
                </p>
            </div>
            <div class="bdj">
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="tg3">
                    <div class="icon"><img src="imags/ehya/Icon_Home.svg" alt="Home"></div>
                    <div class="txt">
                        <h3>Home Insurance</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus perspiciatis officia odit,
                            sunt debitis dolorem?</p>
                        <p><a
                                href="https://www.figma.com/proto/SweT7iHr3PQmJ6DdBVHVWu/DEMO?type=design&node-id=2-2414&scaling=min-zoom&page-id=0%3A1">Learn
                                More &#8594;</a></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="tg3">
                    <div class="icon"><img src="imags/ehya/Icon_Blood_Donation.svg" alt="drop"></div>
                    <div class="txt">
                        <h3>Life Insurance</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aut deleniti nam officia,
                            voluptate maxime.</p>
                        <p><a
                                href="https://www.figma.com/proto/SweT7iHr3PQmJ6DdBVHVWu/DEMO?type=design&node-id=2-2414&scaling=min-zoom&page-id=0%3A1">Learn
                                More &#8594;</a></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="tg3">
                    <div class="icon"><img src="imags/ehya/Icon_Car.svg" alt="Car"></div>
                    <div class="txt">
                        <h3>Car Insurance</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores itaque consequuntur
                            impedit corporis, ex sunt?</p>
                        <p><a
                                href="https://www.figma.com/proto/SweT7iHr3PQmJ6DdBVHVWu/DEMO?type=design&node-id=2-2414&scaling=min-zoom&page-id=0%3A1">Learn
                                More &#8594;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sc3 centre">
        <div class="tc1">
            <p>Our tips for you</p>
            <h3>Reinventing your Protection</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste quisquam nulla, rerum earum minima eaque?
            </p>
        </div>
        <div class="row2">
            <div class="col1 ">
                <p>How to prevent and protect your family from carbon momoxide</p>
            </div>
            <div class="col1 col2">
                <p>Mother is hardest and best job ever</p>
            </div>
        </div>

        <div class="row3">
            <div class="call">
                <div class="jlz">
                    <p>Your Benifits</p>
                    <h3>We're your right insurance advocate</h3>
                </div>
            </div>

            <div class="call">
                <div class="had">
                    <div class="icon"><img src="imags/ehya/Donation.svg" alt="dgx"></div>
                    <p class="onk">We have best prices</p>
                    <p class="xdc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis adipisci porro
                        necessitatibus a dignissimos reiciendis perferendis quo explicabo accusamus atque?</p>
                </div>
            </div>
            <div class="call">
                <div class="had">
                    <div class="icon"><img src="imags/ehya/Icon_Protection.svg" alt="DXC"></div>
                    <p class="onk">We are insurance advocate</p>
                    <p class="xdc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis adipisci porro
                        necessitatibus a dignissimos reiciendis perferendis quo explicabo accusamus atque?</p>
                </div>
            </div>
            <div class="call">
                <div class="had">
                    <div class="icon"><img src="imags/ehya/Icon_Neutron.svg" alt="neutron"></div>
                    <p class="onk">We are unbaised</p>
                    <p class="xdc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis adipisci porro
                        necessitatibus a dignissimos reiciendis perferendis quo explicabo accusamus atque?</p>
                </div>
            </div>
            <div class="call">
                <div class="had">
                    <div class="icon"><img src="imags/ehya/Icon_CS.svg" alt="CS"></div>
                    <p class="onk">We are avasilable 24/7</p>
                    <p class="xdc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis adipisci porro
                        necessitatibus a dignissimos reiciendis perferendis quo explicabo accusamus atque?</p>
                </div>
            </div>
            <div class="call">
                <div class="had">
                    <div class="icon"><img src="imags/ehya/Icon_Like.svg" alt="Like"></div>
                    <p class="onk">We make insurance simple</p>
                    <p class="xdc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis adipisci porro
                        necessitatibus a dignissimos reiciendis perferendis quo explicabo accusamus atque?</p>
                </div>
            </div>
        </div>

    </section>
    <hr>

    <section class="sc4 centre">
        <div class="kkl">
            <div class="fd">
                <div class="imggp">
                    <img src="imags/ehya/Avatar.png" alt="">
                    <img src="imags/ehya/Avatar-1.png" alt="">
                    <img src="imags/ehya/Avatar-2.png" alt="">
                </div>
                <div class="txticg"><strong>Friendly</strong> customer support team</div>
            </div>
            <div class="fd">
                <div class="abh">
                    <div class="imggp imgtxt">
                        <img src="imags/ehya/Path.svg" alt="">
                        Trustpilot
                    </div>
                    <div class="imggp">
                        <img src="imags/ehya/s.svg" alt="">
                        <img src="imags/ehya/s.svg" alt="">
                        <img src="imags/ehya/s.svg" alt="">
                        <img src="imags/ehya/s.svg" alt="">
                        <img src="imags/ehya/s.svg" alt="">
                    </div>
                    <div class="txticg"><strong>4.6 out of 5 stars</strong> from 8.6k reviews</div>
                </div>
            </div>
            <div class="fd ">
                <div class="icon">
                    <img class="ghgf" src="imags/ehya/Icon_Like.svg" alt="">
                </div>
                <div class="txticg">We're making <strong>insurance as simple as </strong>can be</div>
            </div>
        </div>
    </section>
    <footer>
        <div class="rows">
            <div class="col11">
                <div class="imglogo">
                    <img src="imags/ehya/Logo_white.svg" alt="">
                </div>
                <div class="txt">Build a modern and creative website with crealand</div>
                <div class="imggrp">
                    <i class="fa-brands fa-google"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
            <div class="col22">
                <div class="head">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim!</div>
                <div class="email">
                    <input type="text" name="" id="" placeholder="Your Email">
                    <button>Get Started</button>
                </div>
            </div>
        </div>
        <div class="bottom">Copyright &#169; 2019 Crafted with love</div>
    </footer>
</body>

</html>