<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/hirex.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Luckiest+Guy&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="nav">
            <img src="imags/hirex/HireX_black.png" alt="">
            <nav>
                <ul>
                    <li class="navb">Works</li>
                    <li class="navb">About Us</li>
                    <li class="navb">Blogs</li>
                    <li class="navb">Contact Us</li>
                    <li class="navb nav-btn">We're Hiring &rarr;</li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="sc1">
        <div class="row headrow">
            <div class="txt">
                <div class="head">
                    <p>WELCOME TO HIREX.</p>
                    <h1>Award Winning Digital Agency</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum non magni distinctio.</p>
                </div>
                <div class="btsc">
                    <input title="Open account and get 5 boxes" type="text" name="" id="">
                    <button>Request Access</button>
                </div>
            </div>
            <div class="graph">
                <div class="circle cell ">
                    <img src="imags/hirex/image 2 (Traced).png" alt="">
                    <div>Web Design</div>
                </div>
                <div class="semi cell ">
                    <img src="imags/hirex/image 6 (Traced).png" alt="">
                    <div>Social Meida</div>
                </div>
                <div class="square cell ">
                    <img src="imags/hirex/image 1 (Traced).png" alt="">
                    <div>UI Designs</div>
                </div>

                <img src="imags/hirex/Group 6.png" alt="">
            </div>
        </div>
    </section>

    <div class="row1">
        <div class="slidebar">
            <div class="slide">
                <h3>Get Access Now!</h3>
                <img src="imags/hirex/image-fBLQvAFN1-transformed 1.png" alt="">
                <img class="line" src="imags/hirex/Line 4.png" alt="">
            </div>
            <div class="slide">
                <h3>Get Access Now!</h3>
                <img src="imags/hirex/image-fBLQvAFN1-transformed 1.png" alt="">
                <img class="line" src="imags/hirex/Line 4.png" alt="">
            </div>
            <div class="slide">
                <h3>Get Access Now!</h3>
                <img src="imags/hirex/image-fBLQvAFN1-transformed 1.png" alt="">
                <img class="line" src="imags/hirex/Line 4.png" alt="">
            </div>
            <div class="slide">
                <h3>Get Access Now!</h3>
                <img src="imags/hirex/image-fBLQvAFN1-transformed 1.png" alt="">
                <img class="line" src="imags/hirex/Line 4.png" alt="">
            </div>
            <div class="slide">
                <h3>Get Access Now!</h3>
                <img src="imags/hirex/image-fBLQvAFN1-transformed 1.png" alt="">
                <img class="line" src="imags/hirex/Line 4.png" alt="">
            </div>
            <div class="slide">
                <h3>Get Access Now!</h3>
                <img src="imags/hirex/image-fBLQvAFN1-transformed 1.png" alt="">
                <img class="line" src="imags/hirex/Line 4.png" alt="">
            </div>
            <div class="slide">
                <h3>Get Access Now!</h3>
                <img src="imags/hirex/image-fBLQvAFN1-transformed 1.png" alt="">
                <img class="line" src="imags/hirex/Line 4.png" alt="">
            </div>
            <div class="slide">
                <h3>Get Access Now!</h3>
                <img src="imags/hirex/image-fBLQvAFN1-transformed 1.png" alt="">
                <img class="line" src="imags/hirex/Line 4.png" alt="">
            </div>
            <div class="slide">
                <h3>Get Access Now!</h3>
                <img src="imags/hirex/image-fBLQvAFN1-transformed 1.png" alt="">
                <img class="line" src="imags/hirex/Line 4.png" alt="">
            </div>
        </div>
    </div>

    <section class="sc1 service">
        <div class="gr1">
            <button>services</button>
            <h2 class="hfont">How hirex. work</h2>
            <p class="pfont">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque?</p>
        </div>
        <div class="row rpad">
            <div class="contain ">
                <div class="card">
                    <p class="pfont">Start Here</p>
                    <p class="ct hfont">Who we are & what we do</p>
                    <img src="imags/hirex/Designer _Flatline 1.png" alt="">
                    <button class="green1" style="color: white;">Start Here &rarr;</button>
                </div>
            </div>
            <div class="contain">
                <div class="card">
                    <p class="pfont">Custom Design</p>
                    <p class="ct hfont">We will design your project</p>
                    <img src="imags/hirex/Notifications_Flatline 1.png" alt="">
                    <button class="yellow2">Start Here &rarr;</button>
                </div>
            </div>
            <div class="contain">
                <div class="card">
                    <p class="pfont">Contact us</p>
                    <p class="ct hfont">Drop us your message!</p>
                    <img src="imags/hirex/Fortnite_Two Color 1.png" alt="">
                    <button class="orange">Start Here &rarr;</button>
                </div>
            </div>
        </div>

        <div class="gr1">
            <button class="wk">Works</button>
            <h2 class="hfont">Find our latest work</h2>
            <p class="pfont">Awesome people who make all this possible</p>
        </div>
        <div class="row rpad">
            <div class="col1">
                <div class="img">
                    <img src="imags/hirex/Rectangle 13.png" alt="">
                </div>
                <div class="cell">
                    <a href="http://">Web Design</a>
                    <p class="hfont">Web Design for Digital Agency</p>
                    <p class="pfont">Build a unique website with hirex template</p>
                    <a href="http://">Read more</a>
                </div>
            </div>
            <div class="col1">
                <div class="img">
                    <img src="imags/hirex/Rectangle 13-1.png" alt="">
                </div>
                <div class="cell">
                    <a href="http://">3D Design</a>
                    <p class="hfont">Realistic 3d of living room</p>
                    <p class="pfont">Build a unique website with hirex template</p>
                    <a href="http://">Read more</a>
                    <button class="yellow2">View All &rarr;</button>
                </div>
            </div>
        </div>
        <!-- !-------------------------------------------------------------------------------------------
                          &  Pricing Start
    !----------------------------------------------------------------------------------------------- 
 -->

        <div class="gr1">
            <h2 class="hfont">Plane & Pricing</h2>
            <p class="pfont">Awesome people who make all this possible</p>
        </div>
        <div class="row">
            <div class="contain cover ">
                <div class="card ">
                    <p class="plan hfont">FREE</p>
                    <p class=" hfont dollar"><span>$0</span>/month</p>
                    <p class="detail">Start free will you learn more about our services</p>
                    <hr>
                    <ul>
                        <li><i class="fa-solid fa-check"></i> Free forever get basic essentials</li>
                        <li><i class="fa-solid fa-check"></i> Advabce security and performance</li>
                        <li><i class="fa-solid fa-check"></i> Unlimited unhosted sites</li>
                        <li><i class="fa-solid fa-check"></i> live Support</li>
                    </ul>
                    <button class="yellow2">Get Started</button>
                </div>
            </div>
            <div class="contain cover ">
                <div class="card">
                    <p class="plan hfont">Basic</p>
                    <p class=" hfont dollar"><span>$19</span>/month</p>
                    <p class="detail">Get powerful tool to make your business grow</p>
                    <hr>
                    <ul>
                        <li><i class="fa-solid fa-check"></i> Free forever get basic essentials</li>
                        <li><i class="fa-solid fa-check"></i> Advabce security and performance</li>
                        <li><i class="fa-solid fa-check"></i> Unlimited unhosted sites</li>
                        <li><i class="fa-solid fa-check"></i> live Support</li>
                    </ul>
                    <button class="orange">Get Started</button>
                </div>
            </div>
            <div class="contain cover">
                <div class="card">
                    <p class="plan hfont">PRO</p>
                    <p class=" hfont dollar"><span>$99</span>/month</p>
                    <p class="detail">Take your business to next level with our tool </p>
                    <hr>
                    <ul>
                        <li><i class="fa-solid fa-check"></i> Free forever get basic essentials</li>
                        <li><i class="fa-solid fa-check"></i> Advabce security and performance</li>
                        <li><i class="fa-solid fa-check"></i> Unlimited unhosted sites</li>
                        <li><i class="fa-solid fa-check"></i> live Support</li>
                    </ul>
                    <button class="green1" style="color: white;">Get Started</button>
                </div>
            </div>
        </div>
    </section>
    <!-- !------------------------------------------------------------------------------------------------------------------------------------------
            & Slider part
!-----------------------------------------------------------------------------------------
!-----------------------------------------------------------------------------------------
-->
    <section class="sc2">
        <div class="row">
            <div class="slidebutton" onclick="slideleft()"><img src="imags/hirex/arrow-left-2.png" alt=""></div>
            <div class="slidingbar">
                <div class="col11">
                    <div class="frame">
                        <img src="imags/hirex/testimonials-img.png" alt="">
                        <div class="tag">
                            <p>@mase.place</p>
                            <div><i class="fa-sharp fa-solid fa-arrow-down"></i></div>
                        </div>
                    </div>
                </div>

                <div class="col22">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sint a, beatae eveniet iste
                        harum veniam ipsum ea tempora numquam.
                    </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis ad praesentium neque vero.
                        Nam provident explicabo eos optio, impedit itaque!</p>
                </div>
                <div class="col11">
                    <div class="frame">
                        <img src="imags/hirex/testimonials-img.png" alt="">
                        <div class="tag">
                            <p>@mase.place</p>
                            <div><i class="fa-sharp fa-solid fa-arrow-down"></i></div>
                        </div>
                    </div>
                </div>

                <div class="col22">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sint a, beatae eveniet iste
                        harum veniam ipsum ea tempora numquam.
                    </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis ad praesentium neque vero.
                        Nam provident explicabo eos optio, impedit itaque!</p>
                </div>
                <div class="col11">
                    <div class="frame">
                        <img src="imags/hirex/testimonials-img.png" alt="">
                        <div class="tag">
                            <p>@mase.place</p>
                            <div><i class="fa-sharp fa-solid fa-arrow-down"></i></div>
                        </div>
                    </div>
                </div>

                <div class="col22">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sint a, beatae eveniet iste
                        harum veniam ipsum ea tempora numquam.
                    </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis ad praesentium neque vero.
                        Nam provident explicabo eos optio, impedit itaque!</p>
                </div>
            </div>
            <div class="slidebutton" onclick="slideright()"><img src="imags/hirex/arrow-right-2.png" alt=""></div>
        </div>
    </section>

    <!-- 
    !------------------------------------------------------
    Section 4
    !----------------------------------------------------------------
 -->

    <section class="sc1">
        <div class="gr1 gr2">
            <button class="wk">Blog</button>
            <h2 class="hfont">Stay Updated</h2>
        </div>
        <div class="row rpad">
            <div class="col1">
                <div class="img">
                    <img src="imags/hirex/Rectangle 19.png" alt="">
                </div>
                <div class="cell">
                    <a href="http://">Web Design</a>
                    <p class="hfont">We launch minewa template this week</p>
                    <p class="pfont">Build a unique website with hirex template</p>
                    <a href="http://">Read more</a>
                </div>
            </div>
            <div class="col1">
                <div class="img">
                    <img src="imags/hirex/Rectangle 20.png" alt="">
                </div>
                <div class="cell">
                    <a href="http://">Web Design</a>
                    <p class="hfont">Introducing the Non-Code Webflow Guide</p>
                    <p class="pfont">Build a unique website with hirex template</p>
                    <a href="http://">Read more</a>
                </div>
            </div>
    </section>

    <!-- 
        !-----------------------------------------------------------------------------
        Section Form
        !----------------------------------------------------------------------------------------------------------------------------------
     -->

    <section class="form">
        <div class="row">
            <div class="coll">
                <h2>Get our latest news & updates</h2>
                <form action="">
                    <input type="text" placeholder="NAME">
                    <input type="text" placeholder="EMAIL">
                    <div>
                        <input type="text" value="SUBSCRIBE" readonly>
                        <img src="imags/hirex/arrow-right-black.svg" alt="">
                    </div>
                </form>
            </div>
            <div class="coll2">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, architecto. Eveniet suscipit qui
                    doloremque laborum praesentium non eius dolorem eaque!</p>
                <a href="">Book a Call</a>
            </div>
        </div>
    </section>

    <!-- 
        !-------------------------------------------------------------------------------------
        Thanks for visiting
        !----------------------------------------------------------------------
      -->
    <div class="row1">
        <div class="slidebar">
            <div class="slide">
                <h3>Thanks For Visiting</h3>
                <img src="imags/hirex/Line 4.png" class="line minus" alt="">
            </div>
            <div class="slide">
                <h3>Thanks For Visiting</h3>
                <img class="plus" src="imags/hirex/Group 59.png" alt="">
            </div>
            <div class="slide">
                <h3>Thanks For Visiting</h3>
                <img src="imags/hirex/Line 4.png" class="line minus" alt="">
            </div>
            <div class="slide">
                <h3>Thanks For Visiting</h3>
                <img class="plus" src="imags/hirex/Group 59.png" alt="">
            </div>
            <div class="slide">
                <h3>Thanks For Visiting</h3>
                <img src="imags/hirex/Line 4.png" class="line minus" alt="">
            </div>
            <div class="slide">
                <h3>Thanks For Visiting</h3>
                <img class="plus" src="imags/hirex/Group 59.png" alt="">
            </div>
            <div class="slide">
                <h3>Thanks For Visiting</h3>
                <img src="imags/hirex/Line 4.png" class="line minus" alt="">
            </div>
            <div class="slide">
                <h3>Thanks For Visiting</h3>
                <img class="plus" src="imags/hirex/Group 59.png" alt="">
            </div>
        </div>
</div>

<!-- !------------------------------------------------------------------------------------------------------------------
    footer
!----------------------------------------------------------------------------------------------------------------------------------------------------------------
 -->

    <footer class="sc1 ">
        <div class="tl">
           <h3>HireX.</h3> 
        </div>
        <div class="sec2">
            <div class="comp">
                <p class="ddat">Products</p>
                <p>Platform</p>
                <p>Store Overview</p>
                <p>Email Reports</p>
                <p>Portfolio</p>
            </div>
            <div class="comp">
                <p class="ddat">Resources</p>
                <p>Case Studies</p>
                <p>Product Guides</p>
                <p>Reports</p>
                <p>Blog</p>
                <p>FAQ</p>
            </div>

            <div class="comp">
                <p class="ddat">Company</p>
                <p>Careers</p>
                <p>Contact Sales</p>
                <p>Contact Supports</p>
            </div>
        </div>
        <div class="envelop">
        <div class="footer">
            <p>Terms and Conditions   Privacy Policy</p>
            <p>&#169;HIREX, Inc.2022</p>
        </div>
        </div>
    </footer>
</body>
<script src="javascript/hirex.js"></script>
</html>