<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/Registeration.css">
</head>


<body>
    <div class="form">
        <form id="form">
            <div class="box">
                <h2>Activate Account</h2>

                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your Password" />
                    <i class="fa-solid fa-exclamation failure-icon"></i>
                    <i class="fa-solid fa-check success-icon"></i>

                    <div class="error"></div>
                </div>

                <div>
                    <label for="cpassword">Confirm Password</label>
                    <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password">
                    <i class="fa-solid fa-exclamation failure-icon"></i>
                    <i class="fa-solid fa-check success-icon"></i>

                    <div class="error"></div>

                </div>

                <div class="submit" id="submit">
                    <button type="button" id="submit-btn">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    let code = `<%= code%>`;
    console.log(code);
    let submitbtn = document.getElementById("submit-btn");
    if(!(code=='false')){

    submitbtn.addEventListener('click', async event => {
        if (matchpassword()) {
            let form = document.getElementById("form");
            let datas = new URLSearchParams(new FormData(form));
            let response = await fetch('http://localhost:8000/end/<%=code%>', {
                method: "POST",
                body: datas,
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
            });

            let data = await response.json();

            const message = document.getElementById("submit");
            message.innerHTML = `<p>${data}</p>`;

        }
    })


    }

    else{
        let expireelement = document.getElementsByClassName("box");
        expireelement[0].innerHTML = `<p>Activation Link is Expired Please Register again for new Activation link</p><a href ="http://localhost:8000">Go Back</a>`;
    }



    function matchpassword() {
        let password = document.getElementById("password").value;
        let cpassword = document.getElementById("cpassword").value;
        console.log(password);
        console.log(cpassword);
        if (password == cpassword) {
            return true;
        }

        else {
            let element = document.getElementsByClassName("error");
            element[1].innerHTML = "Password Does'nt Match!"
            return false;
        }
    }


    submitbtn.addEventListener('click', async event => {
        if (matchpassword()) {
            let form = document.getElementById("form");
            let datas = new URLSearchParams(new FormData(form));
            let response = await fetch('http://localhost:8000/end/<%=code%>', {
                method: "POST",
                body: datas,
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
            });

            let data = await response.json();

            const message = document.getElementById("submit");
            message.innerHTML = `<p>${data}</p>
                                 <a href ="http://localhost:8000/login">Login</a> `;

        }
    })

</script>

</html>