<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .sort{
            width: fit-content;
            margin: auto;
        }
        .cell{
            border: 1px solid;
            height: 40px;
            width: 60px;
            padding: 8px 5px 4px 7px;
            font-size: 20px;
            background-color: rgb(117, 243, 14);
        }
        .cell1{
            background-color: rgb(246, 248, 248);
        }
        .contain{
            display: flex;
            justify-content: space-between;
            width: 450px;
        }
        input{
            width: 50px;
            height: 30px;
            text-align: center;
            font-size: large;
        }
        .output{
            color: rgb(8, 18, 156);
        }
        #sort, #reset{
            width: 70px;
            height: 30px;
            background-color: burlywood;
        }
        .sort{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="sort">
        <h1>Sorting</h1>
        <div class="contain">
            <div class="box">
                <div class="cell"><input type="number" class="input"  ></div>
                <div class="cell"><input type="number" class="input" ></div>
                <div class="cell"><input type="number" class="input" ></div>
                <div class="cell"><input type="number" class="input" ></div>
                <div class="cell"><input type="number" class="input" ></div>
                <div class="cell"><input type="number" class="input" ></div>
                <div class="cell"><input type="number" class="input" ></div>
                <div class="cell"><input type="number" class="input" ></div>
                <div class="cell"><input type="number" class="input" ></div>
                <div class="cell"><input type="number" class="input" ></div>
            </div>
            <div class="box">
                <div class="cell cell1"><input type="number" class="output"></div>
                <div class="cell cell1"><input type="number" class="output"></div>
                <div class="cell cell1"><input type="number" class="output"></div>
                <div class="cell cell1"><input type="number" class="output"></div>
                <div class="cell cell1"><input type="number" class="output"></div>
                <div class="cell cell1"><input type="number" class="output"></div>
                <div class="cell cell1"><input type="number" class="output"></div>
                <div class="cell cell1"><input type="number" class="output"></div>
                <div class="cell cell1"><input type="number" class="output"></div>
                <div class="cell cell1"><input type="number" class="output"></div>
            </div>
        </div>
        <div class="button">
            <button id="sort">Sort</button>
            <button id="reset">RESET</button>
        </div>
    </div>
    <script>
        const inputcells = document.querySelectorAll(".input");
        const outputcells = document.querySelectorAll(".output");
        let inval =[];
        let outval = [];
        let i = 0;
        const sort = document.getElementById("sort");
        const rest = document.getElementById("reset");
        sort.addEventListener('click', sorting);
        rest.addEventListener('click',reset );

        function takeinputs(){
           inputcells.forEach(element => {
                inval[i] = parseInt(element.value);
                i++;
            });
            return inval;
        }

        function sorting(){
            outval = takeinputs();
            let temp;
            for(let c = 0; c<outval.length; c++){
                for(let d =0; d<outval.length-c-1; d++){
                    if(outval[d]>outval[d+1]){
                        temp = outval[d];
                        outval[d] = outval[d+1];
                        outval[d+1] = temp; 
                    }
                }
            }
            displayouput(outval);
        }
        let j =0
        function displayouput(output){
            outputcells.forEach(element => {
                element.value = output[j];
                j++;
                
            });
            console.log(output);
        }

        function reset(){
            inval = [null,null,null,null,null,null,null,null,null,null];
            outval = [null,null,null,null,null,null,null,null,null,null];
            i =0;
            j = 0;

            inputcells.forEach(element => {
                element.value = "";
            });

            outputcells.forEach(element => {
                element.value = "";
            });
        }
    </script>
</body>
</html>