*{
    padding: 0;
    margin: 0;
}

.header{
    border: 1px solid;
}

.txt {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;
    color: white;
  }

.section{
    padding: 50px 25px;
}

.heading{
    text-align: center;
}


.row{
    padding: 20px;
}

.slidebar{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 20px;
    padding: 20px;
    overflow: hidden;

}

.card{
    width: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    flex-shrink: 0;
}

img{
    width: 100%;
    height: 100%;
}

.img{
    width: 100%;
    height: 130px;
   border-radius: 10px;
   overflow: hidden;
   border: 1px solid black;
}

hr{ 
    color: black;
    background-color: black;
    width: 100%;
    margin: 10px 0 ;
}
.card .content{
    width: 100%;
    padding: 0 7px ;
    box-sizing: border-box;
    height: 170px;
    margin: 15px;
}

.card .center{
    text-align: center;
    margin: 10px;
}

.content p{
    margin-top: 5px;
}

.button{
    margin: 10px 0;
}

.button a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    text-align: center;
    width: 100px;
    display: block;
    padding: 5px;
    border-radius: 20px;
    
}

.card:hover{
    transform:  translateY(-20px);
    transition:0.2s;
    color: black;
    background-color: rgb(60, 60, 148);

}

.card:hover .content{
    background-color: rgb(178, 178, 223);
}

.card:hover a{
    color: black;
    background-color:rgb(236, 143, 21);
}

.card:hover hr{
    color: rgb(7, 7, 7);
    background-color: rgb(7, 7, 7);
}

.navigate{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.navigate a {
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #b1b1b1;
}